TELEGRAM_BOT_TOKEN="xxx"
TELEGRAM_CHAT_ID="123"

COINMARKETCAP_API_KEY="xxx"

OPENEXCHRATES_API_KEY="xxx"

POSTGRES_USER="myuser"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="mydatabase"

CLICKHOUSE_USER="myuser"
CLICKHOUSE_PASSWORD="mypassword"
CLICKHOUSE_DB="mydatabase"

RABBITMQ_DEFAULT_USER="myuser"
RABBITMQ_DEFAULT_PASS="mypassword"
RABBITMQ_DEFAULT_VHOST="/"
